@charset "utf-8";

* {
	box-sizing: border-box;
}

html, body {
	margin: initial;
	padding: initial;
	font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
							 segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu,
							 roboto, noto, arial, sans-serif;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

body {
	color: hsl(0, 0%, 8%);
}

h1 {
	margin: 0 0 0.5rem;
}

h2 {
	background-color: hsl(0, 0%, 92%);
	margin: 0;
	padding: 0.25em;
}

a:link,
a:visited {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: hsl(0, 0%, 0%);
	text-decoration: underline;
}

.wrapper {
	max-width: 110ch;
	margin: 0 auto;
	padding: 2rem 1rem;
	min-height: 100vh;
}

header p {
	font-size: 1.5rem;
	font-weight: lighter;
	margin: 0;
}

main {
	margin-top: 4rem;
}

.category {
	margin-bottom: 4rem;
}

.category-lists {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;
}

@media (min-width: 45em) {
	.category-lists {
		grid-template-columns: 1fr 1fr;
	}
}

.category-best-worst ul li:nth-child(2n-1){
	background-color: rgb(250, 250, 250);
}

.category-best-worst ul {
	padding-inline-start: 1em;
}
